Main Script

In [1024]:
import pandas as pd

In [1025]:
school_data_to_load = "../Resources/schools_complete.csv"
student_data_to_load = "../Resources/students_complete.csv"

In [1026]:
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

In [1027]:
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [1028]:
school_count = len(school_data_complete_df["school_name"].unique())

students_total = len(student_data_df["Student ID"].unique())

average_math_score = school_data_complete_df['math_score'].mean()

average_reading_score = school_data_complete_df["reading_score"].mean()

budget_total = school_data_df["budget"].sum()

math_percent = (school_data_complete_df[school_data_complete_df["math_score"] >= 70].math_score.count()) / students_total

reading_percent = (school_data_complete_df[school_data_complete_df["reading_score"] >= 70].reading_score.count()) / students_total

In [1029]:
summary_df = pd.DataFrame({"Total Schools": [school_count],
                           "Total Students":[students_total],
                           "Total Budget":[budget_total],
                            "Average Math Score": [average_math_score],
                          "Average Reading Score":[average_reading_score],
                           "% Passing Math":[math_percent*100],
                           "% Passing Reading":[reading_percent*100]
                          })

************summary_df["% Passing Math"] = summary_df["% Passing Math"].astype(float).map("{:,.2f}%".format)*******************
both =(school_data_complete_df[school_data_complete_df["math_score"] >= 70].math_score.count()) / students_total & (school_data_complete_df[school_data_complete_df["reading_score"] >= 70].math_score.count()) / students_total

In [1030]:
summary_df["Total Budget"] = summary_df["Total Budget"].map("${:,.2f}".format)
summary_df["Total Students"] = summary_df["Total Students"].map("{:,}".format)
summary_df["Average Math Score"] = summary_df["Average Math Score"].map("{:,.2f}%".format)
summary_df["Average Reading Score"] = summary_df["Average Reading Score"].map("{:,.2f}%".format)
summary_df["% Passing Math"] = summary_df["% Passing Math"].map("{:,.2f}%".format)
summary_df["% Passing Reading"] = summary_df["% Passing Reading"].map("{:,.2f}%".format)

summary_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading
0,15,"39,170","$24,649,428.00",78.99%,81.88%,74.98%,85.81%


----------------------------------------------------------------------------------------------------
                                        School Summary

In [1031]:
school_names = school_data_df["school_name"].unique()

In [1032]:
school_data_summary_df = pd.DataFrame({"School Names":school_names})
school_data_summary_df

             School Names
0       Huang High School
1    Figueroa High School
2     Shelton High School
3   Hernandez High School
4     Griffin High School
5      Wilson High School
6     Cabrera High School
7      Bailey High School
8      Holden High School
9        Pena High School
10     Wright High School
11  Rodriguez High School
12    Johnson High School
13       Ford High School
14     Thomas High School